
.top{
    padding-bottom: 31%;
    background: blue;  
}
.top__circle{
position: absolute;
 animation: drawarc2 3s linear infinite;
 width: 500px;
 margin-top: 500px;
 margin-left: 20px;
}
.circle{
  position: absolute;
  width: 150px;
  height: 150px;
  background:yellow;
  border-radius: 50%;
  animation: drawarc1 3s linear infinite;
  display: inline;
  
  
}
@keyframes drawarc1 {
    0% { transform: rotate(180deg);}
    100%{ transform: rotate(360deg);  }
}
@keyframes drawarc2 {
  0% { transform: rotate(0deg); }
  100%{ transform: rotate(180deg); }
}
.bottom{
    padding-top: 32%;
    background: green;
}